# Visual Studio (Code) cache / options directories
.vs/
.vscode/

# Visual Studio solution / project files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Visual C++ cache files
*.opendb
*.VC.db

# Build results
Debug/
Release/

# Other directories
Old_Code/
Test_Bib_Data/
Test_Code/